body {
    font-family: Arial, sans-serif;
    background-color: #b7dce8;
  }
  .container {
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eadc95;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 115, 115, 0.1);
  }
